.preloader[data-loaded="true"] {
  display: flex;
  transition: 0.6s all;
  opacity: 0 !important;
  pointer-events: none !important;

  -webkit-animation: 1s display linear;
  -o-animation: 1s display linear;
  animation: 1s display linear;
}

.preloader[data-loaded="false"] > html {
  overflow: hidden!important;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;

  background: radial-gradient(50% 100% at 50% 100%, hsla(0, 0%, 100%, .1) 0, hsla(0, 0%, 100%, 0) 100%);
  background-color: #080c22;
  height: 100vh;

  .wrapper {
    display: flex;
    flex-direction: column;

    .content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 6em;

      span {
        position: relative;
        font-family: 'Archive', sans-serif;
        font-size: 5em;
        margin-bottom: 1em;
        z-index: 1;
        -webkit-animation: 1.4s logo-wrap linear infinite;
        -o-animation: 1.4s logo-wrap linear infinite;
        animation: 1.4s logo-wrap linear infinite;
      }

      svg:first-of-type {
        position: absolute!important;
        right: -8.5em;
        top: 0.6em;
        width: 145px;
        height: 145px;
        margin: 0!important;
        margin-right: 5em;
      }

      svg {
        width: 160px;
        height: 160px;
        position: relative;
        margin-top: -4em;
      }

    }
  }
}

@keyframes logo-wrap {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display {
  0% {
    display: flex !important;
  }
  100% {
    display: none !important;
  }
}

@media screen and (max-width: 560px) {
  .preloader {
    svg:first-of-type {
      right: -3em!important;
      top: 0.8em!important;
    }
    svg {
      margin-top: -2em!important;
      width: 110px!important;
      height: 110px!important;
    }
    span {
      font-size: 3em!important;
    }
  }
}